@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
body {
  height: 100%;
  width: 100%;
  background: #cb0707;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

.container {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(rose.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50vw; /* Adjust as needed */
  height: 50vh;
}

.glass {
  height: 350px;
  width: 200px;
  
}



@keyframes bloom2 {
  50% {
    transform: rotate(-90deg);
    top: 200px;
    left: 100px;
  }
  100% {
    transform: rotate(-60deg);
    top: 252px;
    left: 50px;
    background: #71122a;
    box-shadow: 0px 0px 0px rgba(245, 148, 184, 0);
  }
}
@keyframes bloom3 {
  100% {
    transform: rotate(45deg);
  }
}
@keyframes bloom4 {
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes bloom5 {
  100% {
    transform: rotate(20deg);
  }
}
@keyframes bloom6 {
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes bloom7 {
  100% {
    transform: rotate(5deg);
  }
}
@keyframes glowing {
  50% {
    background: #d7365f;
    box-shadow: 0px 0px 60px #f594b8;
  }
}
@keyframes falling {
  20% {
    top: 335px;
    background: #9d193b;
    box-shadow: 0px 0px 0px rgba(245, 148, 184, 0);
  }
  100% {
    top: 335px;
    opacity: 0;
  }
}
.text {
  font-family: cursive;
  font-weight: 800;
  font-size:30px;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 20px rgb(241, 94, 106);
  margin-left: -100px;
}
.text a {
  color: rgb(77, 18, 35);
}
.text a:hover {
  color: white;
  text-shadow: 0 0 20px rgb(235, 25, 42);
}
